.logo {
    margin-left: 15px;
}

nav {
    background-color:#eefdfd;
    color: black;
}

.logo-text {
    font-family: 'Pacifico', cursive;
}

.btn-nav {
    border: 1px solid #d1fafa;
    border-radius: 15px;
    background-color: #d1fafa;
    padding: 5px;
    margin-left: 20px;
}

a button:hover {
    background-color: #76efef;
}

.btn-nav:focus {
    outline: none;
}

.hyperlink {
    color: black;
    text-decoration: none;
}

.hyperlink:hover {
    color: #5fecec; 
}

.story {
    margin-top: 40px;
    outline: none;
}

.story-card {
    box-shadow: 5px 10px 8px 10px #F0F0F0;
    margin-right: 50px;
}

span {
    font-family: 'Pacifico', cursive;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    background-color:#eefdfd;
    color: black;
 }

footer p {
    margin: 10px;
}

.food-card {
    margin-top: 50px;
}

.w-100 {
    width: 100% !important;
    height: 50vh;
}

.food-carousel {
    margin-right: 50px;
    margin-bottom: 100px;
    border-radius: 5px;

}


.food-title {
    margin-left: 45px;
    margin-top: 70px;
    font-size: 85px;
    font-family: 'Pacifico', cursive;
    margin-right: 20px;
}

