.logo {
    margin-left: 15px;
}

nav {
    background-color:#eefdfd;
    color: black;
}

.logo-text {
    font-family: 'Pacifico', cursive;
}

.btn-nav {
    border: 1px solid #d1fafa;
    border-radius: 15px;
    background-color: #d1fafa;
    padding: 5px;
    margin-left: 20px;
}

a button:hover {
    background-color: #76efef;
}

.btn-nav:focus {
    outline: none;
}

.hyperlink {
    color: black;
    text-decoration: none;
}

.hyperlink:hover {
    color: #5fecec; 
}

.story {
    margin-top: 40px;
    outline: none;
}

.story-card {
    box-shadow: 5px 10px 8px 10px #f0f0f5;
    margin-right: 50px;
}

span {
    font-family: 'Pacifico', cursive;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    background-color:#eefdfd;
    color: black;
 }

 footer p{
     margin: 10px;
 }

 .carousel-inner > .item > img { 
     width:100%; 
     height: 10px; 
    }