.logo {
    margin-left: 15px;
}

nav {
    background-color:#eefdfd;
    color: black;
}

.logo-text {
    font-family: 'Pacifico', cursive;
}

.btn-nav {
    border: 1px solid #d1fafa;
    border-radius: 15px;
    background-color: #d1fafa;
    padding: 5px;
    margin-left: 20px;
}

a button:hover {
    background-color: #76efef;
}

.btn-nav:focus {
    outline: none;
}

.hyperlink {
    color: black;
    text-decoration: none;
}

.hyperlink:hover {
    color: #5fecec; 
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    background-color:#eefdfd;
    color: black;
 }

footer p {
    margin: 10px;
}

.menu-title {
    font-family: 'Pacifico', cursive;
    font-size: 65px;
}

.menu-subtitle {
    font-family: 'Pacifico', cursive;
}

.money {
    font-size: 20px;
}
